<!doctype html>
<html lang="en">
	<head>
		<title>admin of the invitees</title>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		
		<script type="text/javascript" src="jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3>You have loged in as: <strong><%= user %></strong></h3> 
					<input type="button" onclick="location.href ='/logout'" value="Logout">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>Current invitees: <%= invitees.length %></h2>
					<!--TODO: a list of the current invitees, support delete -->
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Lastname</th>
								<th>Firstname</th>
								<th>Language</th>
								<th>Activity</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0; i<invitees.length; i++) { %>
								<tr>
									<td><%= invitees[i].lastname %></td>
									<td><%= invitees[i].firstname %></td>
									<td><%= invitees[i].lang %></td>
									<td><%= invitees[i].actType %></td>
									<td><input type="button" onclick="location.href ='/removeInvitee/?id=<%= invitees[i]._id%>'" value="Delete"></td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<!--TODO: a form to add a new invitee -->
					<h2>Add a new invitee:</h2>
					<form role="form" method="post" action="/addInvitee">
						<div class="form-group">
							<label for="firstname">First name</label>
							<input type="text" id="firstname" class="form-control" name="firstname" required>
						</div>
						<div class="form-group">
							<label for="lastname">Last name</label>
							<input type="text" id="lastname" class="form-control" name="lastname" required>
						</div>
						<div class="form-group">
							<label for="lang">Language</label>
							<select id="lang" class="form-control" name="lang" required>
								<option value="FR">Français</option>
								<option value="ZH">中文</option>
								<option value="EN">English</option>
							</select>
						</div>
						<div class="form-group">
							<label for="actType">Activity to attend</label>
							<select id="actType" class="form-control" name="actType" required>
								<option value="dinner">Dinner</option>
								<option value="barbecue">Barbecue</option>
							</select>
						</div>
						<input type="submit" value="Submit">
						<input type="reset" value="Reset">
					</form>
				</div>
				<div class="col-md-8">
				</div>
			</div>
		</div>
	</body>
</html>

