<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="author" content="Jungle">
  <title>Jing et Hao</title>
  	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="jquery.fullPage.css">
	<link rel="stylesheet" type="text/css" href="mariage.css">
	
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="jquery.fullPage.min.js"></script>
	<script type="text/javascript" src="jquery.downCount.js"></script>
	<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script> -->
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', '#1bbc9b'],
				anchors: ['faire-part', 'nous', 'notrechemin', 'programme'],
				menu: '#menu',
				css3: true,
				scrollingSpeed: 1000,
				scrollOverflow: true,
				navigation: false, // doesn't show navigation on the right side
				loopBottom: false,
				loopTop: false,
				slidesNavigation: true,
				loopHorizontal: false
			});
			
		});
	</script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			var langBtns = ['selectZH', 'selectFR','selectEN'];
			var langClasses = ['langZH', 'langFR', 'langEN'];
			var langTitles = ['Caesar&Serene', 'Caesar&Serene','Jing and Hao'];
			function selectLanguage(selectLang){
				
				$('#'+selectLang).show();
				for (i = 0; i < langBtns.length; i++){
					if (langBtns[i] == selectLang){
						$('#'+langBtns[i]).removeClass('label-default');
						$('#'+langBtns[i]).addClass('label-primary');
						$('.'+langClasses[i]).removeClass('hide');
						// also change the title
						document.title = langTitles[i];
					}
					else{
						$('#'+langBtns[i]).removeClass('label-primary');
						$('#'+langBtns[i]).addClass('label-default');
						$('.'+langClasses[i]).addClass('hide');
					}
					$('#'+langBtns[i]).show();
					$('.'+langClasses[i]).show();
				}
			}
			
			$('.selectLanguageItem').click(function(){
				selectLanguage($(this).attr('id'));
			});
			// if lang is set.
			<% if(locals.lang) { %>
				var userLang = "<%= lang %>";
				if(0 <= userLang.toUpperCase().indexOf("ZH")){
					selectLanguage('selectZH');
				}
				else{
					selectLanguage('selectFR');
				}
			<% } else { %> // select by the language in the browser.
				var userLang = navigator.language || navigator.userLanguage;
				if(0 <= userLang.toLowerCase().indexOf("zh")){
					selectLanguage('selectZH');
				}
				else{
					selectLanguage('selectFR');
				}
			<% } %>
			
		});
	</script>
	<script type="text/javascript">
        $(document).ready(function() {
        	$('.countdown').downCount({
            	date: '05/02/2015 15:00:00',
            	offset: 0
        		});
        });
    </script>
	<script>
		// Using multiple unit types within one animation.
		 
		$( document ).ready(function() {
		  $( "#block" ).animate({
			width: "90%",
			marginLeft: "1.5in",
			fontSize: "18px",
			borderWidth: "10px"
		  }, 1516 );

		 });
	</script>


    <!-- no need google map now.
	<script type="text/javascript">
		var centerPos=new google.maps.LatLng(44.0147149,1.588451);
		var chateauPos=new google.maps.LatLng(44.002477,1.688451);
		var marker;

		function initialize(){
			var mapProp = {
		  		center:centerPos,
		  		zoom:10,
		  		disableDefaultUI:true,
		  		mapTypeId:google.maps.MapTypeId.ROADMAP
		  	};
			var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
			var marker = new google.maps.Marker({
		  		position:chateauPos,
		  		animation:google.maps.Animation.BOUNCE
		 	});
			marker.setMap(map);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	-->
</head>
<body>

	<ul id="menu" class="ui-menu">
		<li data-menuanchor="faire-part" class="active" ><a href="#faire-part">
			<div class="langFR">Faire-Part</div>
			<div class="langZH">公告</div>
			<div class="langEN">Announce</div>
		</a></li>
		<li data-menuanchor="nous"><a href="#nous">
			<div class="langFR">Toi et Moi</div>
			<div class="langZH">妳和我</div>
			<div class="langEN">You & Me</div>
		</a></li>
		<li data-menuanchor="notrechemin"><a href="#notrechemin">
			<div class="langFR">Chemin d'amour</div>
			<div class="langZH">爱的里程</div>
			<div class="langEN">Love Road</div>
		</a></li>
		<li data-menuanchor="programme"><a href="#programme">
			<div class="langFR">Programme</div>
			<div class="langZH">婚礼安排</div>
			<div class="langEN">Schedule</div>
		</a></li>
	</ul>

	<ul id="selectLanguage" style="position:fixed; z-index:99; top: 15px; right: 20px" class="nav nav-pills">
		<li id="selectFR" class="selectLanguageItem label label-primary" style="cursor:pointer">Français</li>
		<li id="selectZH" class="selectLanguageItem label label-default" style="cursor:pointer">中文</li>
		<li id="selectEN" class="selectLanguageItem label label-default hide" style="cursor:pointer">English</li>
	</ul>

	
<div id="fullpage">
	<div class="section active" id="section1">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" id="block">
					<h1 class="langFR">Nous allons nous marier！</h1>
					<h1 class="langZH">我们要结婚啦！</h1>
					<h1 class="langEN">We are getting married！</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="langFR">le 2 mai 2015</h3>
					<h3 class="langZH">于公元2015年5月2日</h3>
					<h3 class="langEN">on May 2nd 2015</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h3 class="langFR">dans</h3>
					<h3 class="langZH">距此还有</h3>
					<h3 class="langEN">in</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul class="countdown">
						<li>
							<span style="font-family:LCD2U" class="days">00</span>
							<p class="days_ref langFR">jours</p>
							<p class="days_ref langZH">天</p>
							<p class="days_ref langEN">days</p>
						</li>
						<li style="font-family:LCD2U" class="seperator">.</li>
						<li>
							<span style="font-family:LCD2U" class="hours">00</span>
							<p class="hours_ref langFR">heures</p>
							<p class="hours_ref langZH">小时</p>
							<p class="hours_ref langEN">hours</p>
						</li>
						<li style="font-family:LCD2U" class="seperator">:</li>
						<li>
							<span style="font-family:LCD2U" class="minutes">00</span>
							<p class="minutes_ref langFR">minutes</p>
							<p class="minutes_ref langZH">分钟</p>
							<p class="minutes_ref langEN">minutes</p>
						</li>
						<li style="font-family:LCD2U" class="seperator">:</li>
						<li>
							<span style="font-family:LCD2U" class="seconds">00</span>
							<p class="seconds_ref langFR">secondes</p>
							<p class="seconds_ref langZH">秒</p>
							<p class="seconds_ref langEN">seconds</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 col-md-offset-1" id="#testslide">
				
					<img src="jingPortait.png" class="img-circle">
					<br><br><br><br><br>
					<p class="langFR">
						Jing vient de Province de Hebei, Handan. Elle est dotée un prénom qui signfie "calme" en chinois mais elle adore bouger et les sports.
					</p>
					<p class="langZH">
					<strong>
						静，燕赵人士，曰静而喜动，喜欢小动物，伶俐而亲切。
					</strong>
					</p>
					
				</div>
				<div class="col-md-5">
				
					<img src="haoPortait.png" class="img-circle">
					<br><br><br><br><br>
					<p class="langFR">
						Hao vient de Province de Shandong, Guangrao. Il était trempé dans l'ambiance de Confucius et est fort en le changement du "calme" au "mouvement"
					</p>
					<p class="langZH">
					<strong>
						浩，齐鲁人士，尊儒重道，喜欢散文那行云流水般的惬意，擅长变静为动。
					</strong>
					</p>
					
				</div>
				
			
			</div>
		</div>
	</div>
	<div class="section" id="section3">
		<div class="slide" id="slide1">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img src="sjtuportail1.jpg" class="img-rounded img-responsive">
					</div>
				
					<div class="col-md-6">
						<p class="langFR">
							Nous sommes entrés dans la même université en 2005. Là, derrière le grand portail à la forme 'Tong' de l'Université Jiao Tong de Shanghai de campus Minhang, Hao est remarqué par Jing. Comme toujours Hao assit au fond de la salle avec ses copains, bâillait, et alors que Jing était toujours près de l'estrade.
						</p>
						<p class="langZH">
							2005年，我们一起踏入交大的校门，记忆中是那个大大的拖鞋还有那只展翅欲飞的雄鹰，还有那走不完的闵大荒。跟小伙伴们一起坐在最后一排打瞌睡的张同学，认识了永远坐在第一排的郭同学。我们都记得你的名字：学霸。你们也记得我们的名字：技术宅男。
						</p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4">
						<img src="canvas_jing.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4">
						<img src="shjob.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4">
						<p class="langFR">
							L'année 2009. Jing se profitais en France, et sentait la tranquillité à Douai. Hao a commencé son premier travail, et apprit de l'expérience de la passion, de l'éspoir, du désespoir et de la mélancolie. 
						</p>
						<p class="langZH">
							2009年，Jing跟小伙伴们在法国欢声笑语，感受着杜埃的那份宁静与快乐。 Hao踌躇满志踏上了人生第一段职业历程，体会了激情，希望，伤心与失落。
						</p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide3">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img src="canvas_begin.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-6">
						<p class="langFR">
							L'année 2011. Jing est revenue à SJTU pour poursuivre ses études, et Hao a couru après son ancien rêve. Ils s'étaient retrouvés et ils ont gardé le vrai nom de l'un et l'autre. Hao a pris son plus grand courage pour prendre la main de Jing dans la sienne, en poursuivant leur rêve. Chaque week-end ils s'étaient retrouvés à SJTU dans le labo, jouaient matlab, regardaient 'Mentalist' et 'Nikita', et Hao préparait l'examen de GEM.
						</p>
						<p class="langZH">
							2011年，Jing回到了交大，Hao也回到了交大。Jing继续她的学业，Hao去寻找他曾经的梦想。 
						</p>
						
						<p class="langZH">"我们再一次认识对方，拥有了彼此真正的名字。我鼓起勇气，拉起你的手，一起踏上追梦的路程。每个周末陪着你玩Matlab，看美剧，吃食堂，准备GEM考试。" -- Hao
						</p>
						
						
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide4">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<img src="canvas_grad.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-6">
						<p class="langFR">
						Enfin, Jing est diplômé! En 2012, elle a reçu ses 3 diplômes et était plus diplômé que de lycée.
						</p>
						<p class="langZH">
							2012年，陪伴你坐在思源湖边，一起毕业。
						</p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide5">
			<div class="container-fluid">
				<div class="row">
				
					<div class="col-md-6">
						<img src="couple_champ.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-6">
						<p class="langFR">
							Octobre 2012, après tous les revers sinueux que Hao a l'habitude, ils ont réussi de se rencontrer à Paris! Ils ont découvert les petites et les grandes rues partout en Europe.
						</p>
						<p class="langZH">
							2012年10月 <br> "经历过无数让我习以为常的波折后，我们成功在巴黎会师啦! 我们一起行走欧洲，温暖的气氛在周围荡漾。" --Hao
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="slide" id="slide6">
			<div class="row">
				<div class="col-md-4">
					<img src="canvas_voyage1.jpg" class="img-rounded img-responsive">
				</div>
				<div class="col-md-4">
					<img src="canvas_voyage2.jpg" class="img-rounded img-responsive">
				</div>
				<div class="col-md-4">
					<img src="canvas_voyage3.jpg" class="img-rounded img-responsive">
				</div>
			
			</div>
		</div>
		<div class="slide" id="slide7">
			<div class="row">
				
				<div class="col-md-6">
					<img src="canvas_ete.jpg" class="img-rounded img-responsive">
				</div>
				<div class="col-md-6">
					<p class="langFR">
						Hao a commencé son stage à Toulouse en juin 2013. Il faisait le voyage en TER pour aller à l'entreprise afin qu'il puisse voir Jing chaque jour.
					</p>
					<p class="langFR">
						En plein milieu d'un lac, Hao a demandé en mariage à Jing! Un moment inoubliable.
					</p>
					<p class="langZH">
						2013年6月，Hao开始在图鲁兹实习，每天坐着火车奔波于两个城市间，为了每天都能回家见到Jing。
					</p>
					<p class="langFR">
					</p>
					<p class="langZH">
						在一个阳光明媚的午后，Hao求婚了。波光粼粼的湖上，两人相视冁然而笑。
					</p>
				</div>
			</div>
		</div>
		<div class="slide" id="slide8">
			<div class="row">
			
				<div class="col-md-6 col-md-offset-1">
					<h5 class="langFR">
						Bientôt, dans cette petite ville charmante, Zhang Hao et Guo Jing vont entrer dans leur vie de couple en mariage.
					</h5>
					<h5 class="langZH">
						马上，在这座安静而美丽的小城，我们将牵手进入婚姻殿堂。					
					</h5>
				</div>
			</div>
		</div>
		<div class="slide" id="slide9">
			<div class="row">
			
				<div class="col-md-6 col-md-offset-1">
					<h6 class="langFR">
						L'histoire continue. Désormais, c'est un nouveau chapitre avec la passion et plein d'amours!
					</h6>
					<h6 class="langZH">
						我们的故事还在继续。		
					</h6>
					<h6 class="langZH">
						<strong>未来，我们一起创造。</strong>
					</h6>
				</div>
			</div>
		</div>
		<div class="slide" id="slide10">
		
		</div>
		
	</div>
	<div class="section" id="section4">
		<div class="slide" id="slide_mairie">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-5">
						<img src="mairie.png" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4 langZH">
						<img src="fond_letter_cn.png" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4 langFR">
						<img src="fond_letter_fr.png" class="img-rounded img-responsive">
					</div>
				</div>
			</div>
		</div>

		<!--div class="slide" id="slide_dinner">
			<div class="container-fluid">
				<div class="row">
				
					
					<div class="col-md-5">
						<img src="chateau.jpg" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4 col-md-offset-2 langZH">
						<img src="reception_cn.png" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4 col-md-offset-2 langFR">
						<img src="reception_fr.png" class="img-rounded img-responsive">
					</div>
					
					
									
				</div>
			</div>
		</div -->
		<div class="slide" id="slide_barbecue">
			<div class="container-fluid">
				<div class="row">
			
					<div class="col-md-4 col-md-offset-4 langZH">
						<img src="reception2_cn.png" class="img-rounded img-responsive">
					</div>
					<div class="col-md-4 col-md-offset-4 langFR">
						<img src="reception2_fr.png" class="img-rounded img-responsive">
					</div>
				</div>
			</div>
		</div>
		<!--div class="slide" id="slide_cadeaux">
			<div class="container-fluid">
				<div class="row">
				
					<div class="col-md-3">
						<img src="darty.png" class="img-rounded img-responsive">
					</div>
					
					<div class="col-md-3 langZH">
						<img src="darty_cn.png" class="img-rounded img-responsive">
					</div>
					<div class="col-md-3 langFR">
						<img src="darty_fr.png" class="img-rounded img-responsive">
					</div >
					
					<div class="col-md-6">
						<h2 class="langFR">Liste des Cadeaux</h2>
						<h2 class="langZH">礼物单</h2>
						<table class="table table-bordered" id="giftable">
							<thead>
								<tr class="active">
									<th class="langFR">Cadeaux</th>
									<th class="langZH">礼物</th>
									<th class="langFR">Donneur</th>
									<th class="langZH">赠送者</th>
									<th class="langFR">Prix</th>
									<th class="langZH">价格</th>
								</tr>
							</thead>
							<tbody id="giftablebody">
								<% for(var i=0; i<presents.length; i++) { %>
									<tr class="warning">
										<td  class="langZH"><%= presents[i].nameZH %></td>
										<td  class="langFR"><%= presents[i].nameFR %></td>
										<td><%= presents[i].inviteeName %></td>
										<td><%= presents[i].price %></td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div-->
	</div>
</div>
<div class="navbar navbar-fixed-bottom col-md-4 col-md-offset-8">
	<h4>Designed by Zhanguo</h4>
	<h4>Powered by node.js, mongoDB, Openshift, Bootstrap</h4>
	<h4>Copyright © 2015 Zhanguo</h4> 
</div>

<audio autoplay="true" loop="true">
	<source src="SunnySideUp+.mp3" type="audio/mpeg">
</audio>
</body>
</html>

