<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html">
	<meta name="author" content="Jungle">
  	<title>Invitation</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="invitation.css">
		
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="turn.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
        	$('#invitation').turn({
            	width: 700,
  				height: 600,
  				autoCenter: true
           });
    	});
    	$(document).bind('keydown', function(e){ 
        	if (e.keyCode==37)
            	$('#invitation').turn('previous');
        	else if (e.keyCode==39)
            	$('#invitation').turn('next');
             
    	});
    </script>
</head>
<body>
	<div class="flipbook">
		<div id="invitation">
			<div id="cover1" class="hard" style="background-image:url(cover1.jpg); background-size:100% 100%"></div>
			<div id="page1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							firstname: <%= invitee.firstname %>
						</div>
						<div class="col-md-6">
							lastname: <%= invitee.lastname %>
						</div>
						<div class="col-md-6">
							lang: <%= invitee.lang %>
						</div>
						<div class="col-md-6">
							actType: <%= invitee.actType %>
						</div>
					</div>
				</div>
			</div>
			<div id="page2">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<h2>Select a present for us:</h2>
							<form role="form" method="post" action="/selectPresent">
								<div class="form-group">
									<label class="hide" for="id">id</label>
									<input class="hide" type="text" id="id" class="form-control" name="id" value='<%= invitee._id %>' >
								</div>
								<div class="form-group">
									<label for="present">Present:</label>
									<select id="present" class="form-control" name="present" required>
										<% for(var i=0; i<presents.length; i++) { %>
											<option value='<%= i._id %>'><%= i.nameZH %> + <%= i.price %> + '(€)'</option>
										<% } %>
									</select>
								</div>
								<input type="submit" value="Ok">
							</form>
						</div>
						<div class="col-md-6">
						</div>
					</div>
				</div>
			</div>
			<div id="cover2" class="hard" style="background-image:url(cover2.jpg); background-size:100% 100%"></div>
		</div>
	</div>
</body>
</html>

