<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html">
	<meta name="author" content="Jungle">
  	<title>Invitation</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="invitation.css">
	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<script type="text/javascript" src="turn.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
        	$('#invitation').turn({
            	width: 700,
  				height: 600,
  				autoCenter: true
           });
           
           if ('ZH' == '<%= invitee.lang %>'){
           		$(".langFR").addClass('hide').show();
           }
           else{
           		$(".langZH").addClass('hide').show();
           }
           
           if (0 < <%= present.length %>){
           		$("#selectPresent").addClass('hide').show();
           }
           else{
           		$("#showPresent").addClass('hide').show();
           }
    	});
    	$(document).bind('keydown', function(e){ 
        	if (e.keyCode==37)
            	$('#invitation').turn('previous');
        	else if (e.keyCode==39)
            	$('#invitation').turn('next');
             
    	});
    </script>
</head>
<body>
	<div class="flipbook">
		<div id="invitation">
			<div id="cover1" class="hard" style="background-image:url(cover1.jpg); background-size:100% 100%"></div>
			<div id="page1">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="langZH">
								<br><h3>送呈 <strong><%= invitee.lastname %> <%= invitee.firstname %></strong> <strong> <%= invitee.buddy %></strong> 亲启</h3>
								<h3>张浩与郭静谨定于公元2015年5月2日（乙未年三月十四日）星期六在法国卡斯特市举行结婚典礼敬备喜筵！
								</h3>
								<h3>恭请光临参加
								<% if("dinner" == invitee.actType) {%>
								晚宴<br><strong>时间： 当日晚上八点整<br>地点： 拉威赫城堡
								<% } else{ %>
								花园烧烤<br>时间： 翌日上午十一点<br>地点： 拉威赫城堡
								<% } %>
								</h3>
							</div>
							<div class="langFR">
							
								<br><p>A l'attention de <b><%= invitee.lastname %> <%= invitee.firstname %> <%= invitee.buddy %></b> </p>
								<br><p>Jing et Hao ont la joie de vous annoncer leur mariage qui sera célébré le samedi 2 mai 2015, à 15h00 à la mairie de Castres.
								</p><br>
								<p>A l'issue de la cérémonie, les familles auront le plaisir de vous accueillir pour  
								<% if("dinner" == invitee.actType) {%>
								un vin d'honneur et un dîner servis au Château de la Vère de Larroque à partir de 18h00 le même jour.
								<% } else{ %>
								un barbecue au Château de la Vère de Larroque à partir de 11h00 le jour suivant.
								<% } %>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="page2">
				<div class="container-fluid">
					<div class="row">
						<div id="selectPresent" class="col-md-12">
							
						
							<form role="form" method="post" action="/assignPresent">
								<div class="form-group">
									<label class="hide" for="inviteeId">inviteeId</label>
									<input class="hide" type="text" id="inviteeId" class="form-control" name="inviteeId" value='<%= invitee._id %>' >
								</div>
								<div class="form-group" id="giftdiv">
									<label for="presentId" class="langFR"><h5>Choisissez un cadeau pour nous, si vous voulez</h5></label>
									<label for="presentId" class="langZH">	<h4 class="langZH">送上一份礼物</h4></label>
									<select id="presentId" class="form-control col-md-8" name="presentId" required>
										<% for(var i=0; i < presents.length; i++) { %>
											<option value='<%= presents[i]._id %>'><%= 'ZH' == invitee.lang ? presents[i].nameZH:presents[i].nameFR %> (<%= presents[i].price %> €)</option>
										<% } %>
									</select>
									
									<button type="submit" value="Ok" class="button tick col-md-3 col-md-offset-1" > </button>
								</div>
								
								
								
							</form>
						</div>
						<div id="showPresent" class="col-md-12">
							<h5 class="langZH">您已经为我们选择礼物:</h5>
							<h5 class="langFR">Vous avez choisi le cadeau pour nous.</h5>
							<p>
								<% if(0 < present.length) {%>
									<%= 'ZH' == invitee.lang ? present[0].nameZH:present[0].nameFR %> (<%= present[0].price %> €)
								<% } %>
							</p>
						</div>
						
						<div class="col-md-12">
							<div id="menuBall1" class="menuBall">
								<a class="ball blueball" href="/?lang=<%= invitee.lang %>" target="_blank" role="button">
								
								</a>
								<div class="menuText">+ Info</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="cover2" class="hard" style="background-image:url(cover2.jpg); background-size:100% 100%"></div>
		</div>
	</div>
</body>
</html>

